body{
    background-image: url('../../Assets/backgroundFulllstack.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.BannerImg{
    background-image: url('../../Assets/GamingImage.jpg');
}