body{
    background-image: url('../../Assets/backgroundFulllstack.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 1820px;
}

@font-face {
    font-family: PoppinsBold, sans-serif;
    src: url('../../Assets/Fonts/Poppins-Bold.ttf');
}

.BannerImg{
   width: 100vw !important;
   height: 700px !important;
   background-image: url('../../Assets/GamingImage.jpg');
   background-repeat: no-repeat;
   background-size: cover;
}

.quizBg{
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    height: 600px;
    margin-top: 100px;
}

.quizFont1{
    color: black !important;
    text-align: center;
}