body{
    background-image: url('../../Assets/backgroundFulllstack.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.filterBackground{
    background-color: #E2E2E2;
    height: 100vh;
}

.marginLeft{
    margin-left: 500px !important;
}