body{
    background-image: url('../../Assets/backgroundFulllstack.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.filterBackground{
    background-color: #E2E2E2;
    height: 100vh;
}

.marginLeft{
    margin-left: 500px !important;
}

.marginLeft2{
    margin-left: 20px;
}

.filterBoxColor{
    font-family: PoppinsBold;
    font-size: 30px;
    color: rgb(0, 0, 0) !important;
}

@font-face {
    font-family: PoppinsBold;
    src: url('../../Assets/Fonts/Poppins-Bold.ttf');
}