body{
    background-image: url('../../Assets/backgroundFulllstack.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 1820px;
}

.rowBack {
    background-color: white;
    height: 6rem;
}


