 
body {
    background-image: url('../../Assets/Images/backgroundFulllstack.png'); 
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
}

.login-wrapper {
    min-height: 100vh;
}

.login-logo {
    background-image: url('../../Assets/Images/BGLogoRB.png');
    width: auto;
    height: 60px;
}

.login-container {
    height: 600px;
    width: 600px;
}   

.left-login {
    position: absolute;
    left: 0;
    top: 0;
    width: 70%;
    height: 80%;
    background: #4463D5;
    border-radius: 15px;
}

.left-login-top {
    color: white;
}

.left-login-top img{
    height: 80px;
    width: auto;
}

.right-login {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 70%;
    height: 80%;
    background: #ffffff;
    border-radius: 15px;
    padding: 2.5rem 4rem;
}

.right-login input {
    appearance: none;
    border: 1.5px solid rgba(199, 199, 199, 0.5);
    border-radius: 8px;
    outline: none;
    padding: .5rem;
    width: 100%;
    margin-top: .5rem;
}

.login-btn {
    appearance: none;
    background: #4463D5;
    color: white;
    border: none;
    width: 100%;
    padding: .5rem 0;
    border-radius: 8px;
    margin-top: 1rem;
}

.divider {
    margin-top: 1.5rem;
    position: relative;
    width: 100%;
}

.or {
    position: absolute;
    width: fit-content;
    background: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -55%);
    margin: 0;
    padding: 0rem 1rem;
}

.create-account {
    text-align: center;
    font-size: 12px;
    text-decoration: none;
    margin-bottom: 0;
    margin-top: .5rem;
}

a {
    text-decoration: none;
}

.create-account span {
    color: #4463D5;
    cursor: pointer;
}

.create-account span:hover{
    text-decoration: underline;
}

.right-login p {
    color: #a7a7a7;
}

@media screen and (max-width: 991px){

    .login-container {
        display: flex;
        align-items: center;
    }

    .left-login {
        display: none;
    }

    .right-login {
        position: relative;
        width: 80%;
    }
}

@media screen and (max-width: 500px){
    .right-login {
        padding: 2.75rem 1.25rem;
    }

    .right-login {
        width: 90%;
    }
}




