@font-face {
    font-family: Poppins;
    src: url('../../Assets/Fonts/Poppins-Regular.ttf');
}

.NavBackground{
    background-color: #4463D5;
    font-family: Poppins;
}

.fontColor{
    color: white !important;
}

.logoSize{
    width: auto;
    height: 50px;
}

.nav-links {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

@media screen and (max-width: 991px){
    .nav-links {
        margin-top: 1rem;
    }

    .nav-links a {
        width: fit-content;
        padding: .25rem 1rem;
    }
}


