
footer {
    background: #fff;
    /* height: 385px; */
    margin-top: 4rem;
    /* font-family: PoppinsBold; */
    padding: 2rem 0rem 2rem 4rem;
    border-radius: 0;
}

.gutterless {
    --bs-gutter-x: 0;
}

.footer-heading {
    font-size: 1.5rem;
}

.head-one {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

@media screen and (max-width: 900px){
    .footer-content {
        flex-direction: column;
    }

    footer {
        padding: 2rem;
    }
}

