/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

.pagination * {
  color: white;
  font-size: 1.25rem;
}

.pagination a {
  padding: .4rem 1rem;
}

.pagination .previous a {
  color: rgb(117, 154, 255);
}

.pagination .active-page a {
  background: rgb(24, 72, 160);
}

.pagination .next a {
  color: rgb(117, 154, 255);
}

.pagination .disabled a {
  color: rgb(190, 190, 190);
}
